*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.box {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  top: 159px;
  position: absolute;
}
.box > *{
  width: 391px;
  height: 195px;
  margin: 15px;
  border: 3px solid #000000;
  object-fit: cover;
}
.hamburg {
  position: absolute;
  width: 70px;
  height: 59px;
  left: 38px;
  top: 23px;
}
.title {
  position: absolute;
  width: 376px;
  height: 94px;
  left: 580px;
  top: 50px;

  font-family: '?????';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.noRecipeWarning {
  font-size: 26px;
  position: absolute;
  left: 200px;
  top: 160px;
}

.addRecipeBtn {
  position: absolute;
  top: 85px;
  right: 200px;
  width: 150px;
  height: 40px;
  font-size: 18px;
  background-color:#339b52;
  color: #fff;
  border:none;
  border-radius:10px;
}
.addRecipeBtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.addRecipeBtn:active {
  box-shadow: 2px 2px #666;
  transform: translateY(2px) translateX(2px);
}

.recipe1:hover, .recipe2:hover, .recipe3:hover, .recipe4:hover, .recipe5:hover, .recipe6:hover, .recipe7:hover, .recipe8:hover, .recipe9:hover {
  transform: scale(1.2);
}