*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.box {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  top: 159px;
  position: absolute;
}
.box > *{
  width: 391px;
  height: 195px;
  margin: 20px;
  border: 3px solid #000000;
  object-fit: cover;
}
.hamburg {
  position: absolute;
  width: 70px;
  height: 59px;
  left: 38px;
  top: 23px;
}
.title {
  position: absolute;
  width: 376px;
  height: 94px;
  left: 580px;
  top: 50px;

  font-family: '?????';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.noRecipeWarning {
  font-size: 26px;
  position: absolute;
  left: 200px;
  top: 160px;
}

.addRecipeBtn {
  position: absolute;
  top: 85px;
  right: 200px;
  width: 150px;
  height: 40px;
  font-size: 18px;
  background-color:#339b52;
  color: #fff;
  border: 2px solid #036210;
  border-radius:10px;
}
.addRecipeBtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  cursor: pointer;
}
.addRecipeBtn:active {
  box-shadow: 2px 2px #666;
  transform: translateY(2px) translateX(2px);
}
.myform > * {
  margin: 2px;
}
textarea {
  vertical-align: top;
}
.nameInput {
  font-size:15px;
  width: 250px;
}
.errorMsg {
  font-size: 12px;
  color: red;
}
.submit, .cancel-btn{
  position: relative;
  left: 470px;
  width: 60px;
  height: 22px;
  font-size: 14px;
  font-weight:550;
}

.box > *:hover {
  transform: scale(1.2);
}