*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hamburg {
  position: absolute;
  width: 70px;
  height: 59px;
  left: 38px;
  top: 23px;
}
.title {
  position: absolute;
  width: 376px;
  height: 94px;
  left: 532px;
  top: 50px;

  font-family: '?????';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.recipe1 {
  box-sizing: border-box;

  position: absolute;
  width: 391px;
  height: 195px;
  left: 89px;
  top: 159px;
  border: 3px solid #000000;
  object-fit: cover;
}

.recipe2 {
  box-sizing: border-box;

  position: absolute;
  width: 391px;
  height: 195px;
  left: 524px;
  top: 159px;
  border: 3px solid #000000;
  object-fit: cover;
}

.recipe3 {
  box-sizing: border-box;

  position: absolute;
  width: 391px;
  height: 195px;
  left: 964px;
  top: 159px;
  border: 3px solid #000000;
  object-fit: cover;
}

.recipe4 {
  box-sizing: border-box;

  position: absolute;
  width: 391px;
  height: 195px;
  left: 89px;
  top: 397px;
  border: 3px solid #000000;
  object-fit: cover;
}
.recipe5 {
  box-sizing: border-box;

  position: absolute;
  width: 391px;
  height: 195px;
  left: 524px;
  top: 397px;
  border: 3px solid #000000;
  object-fit: cover;
}
.recipe6 {
  box-sizing: border-box;

  position: absolute;
  width: 391px;
  height: 195px;
  left: 964px;
  top: 397px;
  border: 3px solid #000000;
  object-fit: cover;
}
.recipe7 {
  box-sizing: border-box;

  position: absolute;
  width: 391px;
  height: 195px;
  left: 89px;
  top: 634px;
  border: 3px solid #000000;
  object-fit: cover;
}
.recipe8 {
  box-sizing: border-box;

  position: absolute;
  width: 391px;
  height: 195px;
  left: 524px;
  top: 634px;
  border: 3px solid #000000;
  object-fit: cover;
}
.recipe9 {
  box-sizing: border-box;

  position: absolute;
  width: 391px;
  height: 195px;
  left: 964px;
  top: 634px;
  border: 3px solid #000000;
  object-fit: cover;
}

.recipe1:hover, .recipe2:hover, .recipe3:hover, .recipe4:hover, .recipe5:hover, .recipe6:hover, .recipe7:hover, .recipe8:hover, .recipe9:hover {
  transform: scale(1.2);
}